.appContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  border-bottom: 5px solid rgb(202, 202, 202);
}
.mainContainer {
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
  background-color: white!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.25)!important;
  border-radius: 0.25rem!important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mainContainer::-webkit-scrollbar {
  width: 5px;
}
.mainContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.mainContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.mainContainer::-webkit-scrollbar-corner {
  display: none;
}
.studentList {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}
/* -----------student component------------ */

.studentContainer {
  height: auto;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.imageContainer {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studentImage {
  width: 70%;
  border: solid 1px rgba(0,0,0,0.25);
}
p {
  margin: 0%!important;
  padding: 0%!important;
}
h1 {
  margin: 0%!important;
  padding: 0%!important;
}
.details {
  color: rgba(0,0,0,0.5);
  padding-left: 1.5rem;
}
.myInput {
  margin-top: 1rem;
  width: 97%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.myInput:focus {
  outline: none;
  border-bottom: 1px solid rgb(0,0,0);
}
.myInput::placeholder {
  color: rgba(0,0,0,0.3);
}
.mainCol {
  padding-left: 0%!important;
}
.title {
  display: flex;
}
.myButton {
  margin: 0%;
  padding: 0%;
  background-color: white;
  border: none;
  margin-left: auto;
  transform: rotate(180deg);
}
.myButton:focus {
  outline: none;
}
.icon {
  color: rgba(0,0,0,0.25);
}
.icon:hover {
  color: black;
}
.myTagInput {
  margin-top: 1rem;
  width: 30%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.myTagInput:focus {
  outline: none;
  border-bottom: 1px solid rgb(0,0,0);
}
.myTagInput::placeholder {
  color: rgba(0,0,0,0.3);
}